[Unit]
Description=Laravel Scheduler
After=network.target

[Service]
User=www-data
Group=www-data
Restart=always
RestartSec=60
WorkingDirectory=/var/www/barandrest
ExecStart=/usr/bin/php /var/www/barandrest/artisan schedule:work

[Install]
WantedBy=multi-user.target
